{# overriding to add our own content -#}

<div class="container" style="margin-top: 3em;">
  <blockquote>
    <h1>{{ _f("hexdoc.hexxybook.welcome.1").format(mod_name) }}</h1>
    {{ _f("hexdoc.hexxybook.welcome.2") }}
    {{ _f("hexdoc.welcome.2") }}
    {% if is_bleeding_edge %}
      {{ _f("hexdoc.welcome.3") }}
    {% endif %}
    {{ _f("hexdoc.welcome.4") }}

    {# conditionally revealed using js #}
    <span id="old-version-notice" class="hidden">
      <br />
      {{ _f("hexdoc.welcome.old_version") }}
    </span>
  </blockquote>
</div>
