<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>hexxy.media</title>

    {# favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="index.css">

    {% if hot_reload %}
      <script type="text/javascript" src="https://livejs.com/live.js"></script>
    {% endif %}
  </head>

  <body>
    <div class="container mt-4">
      <h1>
        <img src="img/hexxy.png" alt="An image of Hexxy from the Hex Casting server" class="img-inline">
        hexxy.media
      </h1>

      {% include "components/links.html.jinja" %}
    </div>

    <footer class="my-4 container text-center text-muted">
        <a href="https://github.com/object-Object/hexxy.media" class="text-reset" target="_blank">GitHub</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
